body {
	width: 100%;
	height: 100%;

	background: url(fon.jpg) no-repeat;
	background-size: 100%;
}

.button {
	background-color:#6fba26;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
	border-radius: 5px;
}

.button:active {
	top:7px;
	background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
	box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
	color: #156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background: rgb(44,160,202);
}
h1 {
	text-align: center;
	font-weight: 700;
	padding-top: 2%;
}
h2 {
	text-align: center;
	font-weight: 500;
	padding-top: 0.5%;

}
.header {
	width: 100%;
	height: 15%;
	background-color: black;
	border-radius: 7px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	color: red;
	position: relative;
	margin-bottom: 0.5%;
	opacity: 0.7;
}
.left-sidebar {
	width: 20%;
	min-height: 80%;
	float: left;
	border-radius: 7px;
	background-color: black;
	position: relative;
	padding-left: 1%;
	padding-top: 0.5%;
	opacity: 0.7;
}
.content {
	font-weight: 600;
	width: 79%;
	min-height: 80%;
	background-color: #4C8BF5;
	border-radius: 7px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	position: relative;
	padding-left: 1%;
	float: right;
	padding: 1%;
	margin-bottom: 0.5%;
	margin-left: 1%;
	opacity: 0.9;
}
.content .new {
	opacity: 1;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	color: black;
	position: relative;
	padding-left: 1%;
	margin-left: 2%;
	margin-top: 2%;
}
.content .novost {
	padding: 10px;
	width: 98%;
	opacity: 1;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	color: black;
	position: relative;
	margin-left: 1%;
	margin-top: 2%;
}
.content .new_one {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	width: 80%;
	min-height: 40%;
	position: relative;
	padding: 10px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 10px;
	opacity: 1;
}
.content .new_one .comm {
	padding: 10px;
	width: 80%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	position: relative;
	margin-left: 9%;
	background-color: #F3F0F0;
}
.content .tema {
	width: 90%;
	height: 10%;
	position: relative;
	background-color: white;
	border-radius: 7px;
	margin-left: 5%;
	margin-top: 1%;
	opacity: 1;
	padding-left: 1%;
	padding-top: 1%;
}
.content .opis {
	padding: 1%;
	width: 90%;
	min-height: 30%;
	position: relative;
	background-color: white;
	border-radius: 7px;
	margin-left: 5%;
	margin-top: 1%;
	opacity: 1;
	padding-top: 1%;
}
.content .category {
	padding-top: 1%;
	padding-left: 1%;
	width: 90%;
	min-height: 10%;
	position: relative;
	background-color: white;
	border-radius: 7px;
	margin-left: 5%;
	margin-top: 1%;
	opacity: 1;
}
.footer {
	width: 100%;
	height: 15%;
	background-color: black;
	border-radius: 7px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	position: relative;
	float: left;
	opacity: 0.7;
}
.inline {
	display: inline-block;
}
.inl-link {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin-left: 12px;
}

textarea {
	width: 100%;
	height: 200px;
}
.center {
	text-align: center;
}
.commentator {
	margin-left: 11%;
}